.tererunIconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tererunIconWrapper img {
    height: 240px;
}

.tererunNoEyesIcon {
    position: absolute;
}

.tererunAnimatedEyes {
    position: relative;
}